.bg {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: url('https://aryan-tayal.github.io/Mountains-Parallax/bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flow-root;
}
.text{
    position: relative;
    color:white;
    font-size: 6rem;
}
.login{
    margin: 5% auto;
}